/* Сброс отступов и полей */
* {
  margin: 0px;
  padding: 0px;
}

/* Основные стили для body */
body {
  font-size: 120%;
  font-family: Arial, sans-serif;
  background: #f8f8ff;
  background-image: url('image/backimage.svg'); 
  background-size: cover; /* Масштабирует изображение, чтобы оно охватывало весь фон */
  background-position: center; /* Центрирует изображение */
}

/* Стили для блока <main> */
main {
  width: auto; /* Автоматическая ширина, чтобы блок расширялся */
  max-width: 100%; /* Максимальная ширина 100% от родительского элемента */
  /* margin: 20px auto; Центрируем блок */
  padding: 20px; /* Добавляем внутренние отступы */
  background: white; /* Белый фон */
  /* border-radius: 10px; Скругляем углы */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Добавляем тень для глубины */
  overflow-x: auto; /* Добавляем горизонтальную прокрутку, если таблица выходит за пределы */
}

/* Контейнер для таблиц */
.tables-container {
  background-color: #e0e0e0; /* Серый фон под таблицами */
  padding: 20px; /* Внутренние отступы для контейнера */
  border-radius: 10px; /* Скругляем углы */
}



/* Стили для таблиц */
table {
  width: 100%; /* Ширина таблицы 100% */
  border-collapse: collapse; /* Убираем двойные границы */
  margin: 20px 0; /* Отступы сверху и снизу */
}

th, td {
  border: 1px solid #000000; /* Граница ячеек */
  padding: 10px; /* Внутренние отступы ячеек */
  text-align: left; /* Выравнивание текста в ячейках */
}

th {
  background-color: #8f8484; /* Фон для заголовков таблицы */
}

/* Стили для ячейки с кнопкой удаления */
.table-cell-delete {
  background-color: #d3d3d3; /* Светло-серый фон для ячейки */
  text-align: center; /* Центрируем содержимое */
  padding: 10px; /* Внутренние отступы */
}
/* Стили для заголовка */
.header {
  width: 30%;
  margin: 50px auto 0px;
  color: white;
  background: #525252;
  text-align: center;
  border: 1px solid #000000;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}

/* Стили для форм и контента */
/* Существующий стиль для форм */
form, .content {
  width: 100%;
  margin: 0px;
  padding: 0px;
  border: 1px solid #ffffff;
  background: white;
  border-radius: 0px 0px 10px 10px;
}

/* Новый стиль для формы удаления */
.delete-form {
  width: 100%;
  margin: 0px;
  padding: 0px;
  border: 1px solid #d3d3d3; /* Серые границы */
  background: #d3d3d3; /* Светло-серый фон */
  border-radius: 0px 0px 10px 10px;
}
input, select, textarea {
  width: 93%; /* Ширина 100% */
  padding: 5px 10px;
  font-family: Arial, sans-serif; /* Внутренние отступы */
  font-size: 16px; /* Размер шрифта */
  border-radius: 5px; /* Скругленные углы */
  border: 1px solid gray; /* Серый цвет рамки */
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.custom-select {
  width: 100%;             /* Ширина 100% от родительского элемента */
  height: 40px;           /* Высота поля выбора */
  border: 1px solid gray;  /* Серый цвет рамки */
  color: gray;             /* Серый цвет шрифта по умолчанию */
  background-color: white; /* Белый фон */
  padding: 10px;          /* Отступы внутри select */
  border-radius: 4px;     /* Закругленные углы */
  font-size: 16px;        /* Размер шрифта */
  appearance: none;       /* Убираем стандартный стиль браузера */
  cursor: pointer;        /* Указатель при наведении */
}

.custom-select option {
  color: black;           /* Цвет текста для выбранного элемента */
}

/* Изменения при фокусе */
.custom-select:focus {
  outline: none;         /* Убираем стандартный фокус */
  border-color: darkgray; /* Темно-серая рамка при фокусе */
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
  color: gray; /* Устанавливаем цвет метки на серый */
}
.input-group label_1 {
  display: block;
  text-align: left;
  margin: 3px;
  color: rgb(0, 0, 0); /* Устанавливаем цвет метки на серый */
}

.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}

/* Стили для кнопок */
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #8e8e8e; /* Серый фон для кнопок */
  border: none;
  border-radius: 5px;
  cursor: pointer; /* Указатель при наведении */
  margin-bottom: 15px; /* Увеличенный отступ снизу */
}

.custom-btn{
  margin: 10px;
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #8e8e8e; /* Серый фон для кнопок */
  border: none;
  border-radius: 5px;
  cursor: pointer; /* Указатель при наведении */
  margin-bottom: 15px; 
}
/* Стили для кнопки удаления */
.delete-btn {
  background-color: #8e8e8e; /* Серый фон для кнопки удаления */
  color: white; /* Цвет текста */
  padding: 10px 15px; /* Отступы */
  border: none; /* Убираем рамку */
  border-radius: 5px; /* Скругленные углы */
  cursor: pointer; /* Указатель при наведении */
  transition: background-color 0.3s, transform 0.2s; /* Плавные переходы */
}

/* Эффект при наведении для кнопки удаления */
.delete-btn:hover {
  background-color: #dc3545; /* Красный фон при наведении */
  transform: scale(1.05); /* Увеличение при наведении */
}

/* Эффект при нажатии для кнопки удаления */
.delete-btn:active {
  transform: scale(0.95); /* Уменьшение при нажатии */
}

/* Стили для сообщений об ошибках и успехах */
.error {
  color: white; /* Белый цвет текста */
  background: rgba(223, 240, 216, 0.8); /* Прозрачный фон */
  border: 1px solid #fc3030;
  margin-bottom: 20px;
  border-radius: 5px; /* Скругленные края */
  font-weight: bold;
}

.success {
  color: white; /* Белый цвет текста */
  background: rgba(223, 240, 216, 0.8); /* Прозрачный фон */
  border: 1px solid #3c763d;
  margin-bottom: 20px;
  border-radius: 5px; /* Скругленные края */
  font-weight: bold; /* Жирный шрифт для лучшей видимости */
}

/* Контейнер для кнопок */
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.button-container p {
  margin: 0;
}

/* Основные стили для кастомных кнопок */
.custom-button {
  background-color: white; /* Белый фон */
  color: black; /* Черный цвет текста */
  padding: 12px 16px; /* Внутренние отступы */
  border: none; /* Без рамки */
  border-radius: 4px; /* Скругленные углы */
  cursor: pointer; /* Указатель при наведении */
  font-size: 18px; /* Увеличенный размер шрифта */
  font-weight: bold; /* Жирное начертание шрифта */
  transition: background-color 0.3s, color 0.3s; /* Плавный переход */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Легкая тень */
}

/* Стили для кастомных кнопок при наведении */
.custom-button:hover {
  background-color: #ddd; /* Фон при наведении */
  color: black; /* Цвет текста при наведении */
}

/* Стили для кастомных кнопок при нажатии */
.custom-button:active {
  background-color: #ccc; /* Темнее при нажатии */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Уменьшение тени */
}

/* Стили для кастомных кнопок в выпадающем меню */
.dropdown .custom-button {
  display: block; /* Блочный элемент для выпадающего меню */
  width: 100%; /* Занимает полную ширину */
  text-align: left; /* Выравнивание текста по левому краю */
}
.logo {
  max-height: 50px; 
  margin-right: 20px; 
}

/* Меню */
.menu {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

/* Стили для заголовка и кнопок админского интерфейса */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d2d2d;
  color: white;
  padding: 10px 20px;
}

/* Стили для кнопок в шапке */
.menu {
  display: flex;
  gap: 15px;
}

.button {
  background-color: #5d5d5d; /* Основной цвет кнопки */
  color: white; /* Цвет текста */
  padding: 10px 15px; /* Отступы */
  border: none; /* Без рамки */
  border-radius: 5px; /* Скругленные углы */
  cursor: pointer; /* Указатель при наведении */
  font-size: 16px; /* Размер шрифта */
  margin: 5px; /* Отступы между кнопками */
  transition: background-color 0.3s, transform 0.2s; /* Плавные переходы */
}

/* Эффект при наведении для всех кнопок */
.button:hover {
  background-color: #4a4a4a; /* Цвет кнопки при наведении */
  transform: scale(1.05); /* Увеличение при наведении */
}

/* Эффект при нажатии для всех кнопок */
.button:active {
  transform: scale(0.95); /* Уменьшение при нажатии */
}

/* Адаптивные стили */
@media (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  .menu {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* Стили для формы входа и регистрации */
.login_register-form {
  width: 30%; /* Ширина формы */
  margin: 0 auto; /* Центрирование */
  padding: 20px; /* Внутренние отступы */
  border: 1px solid #000000; /* Рамка */
  background: #ffffff; /* Фон */
  border-radius: 0 0 10px 10px; /* Скругление только для нижних углов */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Тень для глубины */
}

.login_register-form .input-group {
  margin: 10px 0; /* Отступы между элементами */
}

.login_register-form input {
  width: 95%; /* Полная ширина */
}

/* Стили для выпадающего меню */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none; /* Скрыть по умолчанию */
  position: absolute; /* Позиционирование */
  background-color: white; /* Белый фон */
  min-width: 160px; /* Минимальная ширина */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); /* Тень */
  z-index: 1; /* На переднем плане */
}

.dropdown:hover .dropdown-content {
  display: block; /* Показать при наведении */
}

.dropdown-content a {
  color: black; /* Цвет текста */
  padding: 12px 16px; /* Внутренние отступы */
  text-decoration: none; /* Убрать подчеркивание */
  display: block; /* Блочный элемент */
}

.dropdown-content a:hover {
  background-color: #ddd; /* Фон при наведении */
}

/* Убираем подчеркивание у ссылок */
a {
  text-decoration: none; /* Убирает подчеркивание */
}

/* Убираем подчеркивание при наведении */
a:hover {
  text-decoration: none; /* Убирает подчеркивание при наведении */
}

/* Стили для выпадающего списка */
select {
  height: 36px; /* Высота выпадающего списка */
  width: 95%; /* Ширина 95% */
  padding: 5px 10px; /* Внутренние отступы */
  font-size: 16px; /* Размер шрифта */
  border-radius: 5px; /* Скругленные углы */
  border: 1px solid rgb(128, 128, 128); /* Серый цвет рамки */
  background-color: white; /* Белый фон */
  cursor: pointer; /* Указатель при наведении */
  appearance: none; /* Убираем стандартный стиль браузера */
  background-image: url('data:image/png;base64,...'); /* Замените на изображение стрелки */
  background-repeat: no-repeat; /* Не повторять изображение */
  background-position: right 10px center; /* Позиция стрелки */
}

/* Стили для опций внутри выпадающего списка */
select option {
  padding: 10px; /* Внутренние отступы для опций */
  background-color: white; /* Фон опций */
  color: black; /* Цвет текста */
}

/* Эффект при наведении на опции (для некоторых браузеров) */
select:hover {
  border-color: #888; /* Цвет рамки при наведении */
}
.upload-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Ширина 100% */
  height: 100px; /* Высота области загрузки */
  border: 2px solid gray; /* Обычная рамка */
  border-radius: 5px; /* Скругленные углы */
  cursor: pointer; /* Указатель при наведении */
  position: relative; /* Для абсолютного позиционирования изображения */
  overflow: hidden; /* Убедитесь, что изображение не выходит за границы */
}
.upload-photo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Сохраняет соотношение сторон */
  display: none; /* Скрываем изображение по умолчанию */
}
.upload-photo:hover {
  border-color: #3c763d; /* Изменение цвета рамки при наведении */
  background-color: rgba(76, 175, 80, 0.1); /* Легкий фон при наведении */
}
.upload-icon {
  font-size: 30px; /* Размер значка */
  color:#0062cb gray; /* Цвет значка */
  position: absolute;
  /* Позволяет центровать иконку внутри рамки */
}

/* *{
  border: 1px solid #dc3545;
} */

























.container-cabinet{
  width: 100%;
  max-width: 1300px;
  margin-left: 30px;
  margin-top: 30px;
  margin-right: 30px;
  margin-bottom: 26px;
  padding: 30px;
  border: 1px solid #ffffff;
  background: white;
  border-radius: 10px 10px 10px 10px;
}






















/*ДЛЯ ПОЛЬЗОВАТЕЛЯ*/

 /* Ваши стили остаются здесь */
 #additional-params {
  display: none;
  margin-top: 10px;
}
.toggle-button {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header-user {
  width: 97.3%;
  background:rgb(3, 27, 125);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.custom-main {
  background-color:#e6e9ee; 
  width: 98.7%;
min-height: 558px;
  padding: 10px; /* Отступ внутри элемента */
  box-shadow: none; /* Убираем тень */
}

.custom-main-cart {
  display: flex;
  background-color:#e6e9ee; 
  width: 98.7%;
  min-height: 558px;
  border-top-left-radius: 0; /* Прямой верхний левый угол */
  border-top-right-radius: 0; /* Прямой верхний правый угол */
  padding: 10px; /* Отступ внутри элемента */
  box-shadow: none; /* Убираем тень */
}

.container {
  display: flex;
  width: 100%;
  max-width: 1490px;/* Максимальная ширина контейнера */

}

.header-form {
  background-color: rgb(3, 27, 125);
  padding: 10px;
  margin-left: 10px; 
  margin-top: 10px;
  text-align: center;
  border-radius: 8px 8px 0 0;
  margin-bottom: -1px;
}

.header-form-title {
  color: white;
  margin: 0;
}

.сontainer-form{
  flex: 1;
  max-width: 300px;
  padding: 20px;
  height: auto;
  max-height: 900px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-container {
  max-width: 300px; 
  height: auto;
  max-height: 900px;
} 


.catalog-container {
  flex: 5; /* Увеличиваем ширину окна вывода запчастей */
  max-width: 1000px; /* Максимальная ширина */
  padding: 20px;
  margin-right: 10px; /* Отступы по бокам */
  margin-left: 20px; 
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 0px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.results-header {
  font-weight: bold;
  margin-bottom: 15px;
}
.input-group-users input {
  height: 27px;
  width: 86%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
  }
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
input, select, textarea {
width: 93%; /* Ширина 100% */
padding: 5px 10px;
font-family: Arial, sans-serif; /* Внутренние отступы */
font-size: 16px; /* Размер шрифта */
border-radius: 5px; /* Скругленные углы */
border: 1px solid gray; /* Серый цвет рамки */
}
.input-group-users {
margin: 10px 0px 10px 0px;
}

.sort_container {
  display: flex; /* Используем Flexbox */
  align-items: center; /* Выравнивание по вертикали */
  justify-content: flex-end; /* Располагаем элементы справа */
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
}

.custom_input-group {
  display: flex; /* Используем Flexbox для выравнивания */
  align-items: center; /* Выравнивание по вертикали */
}

.custom_input-group label {
  margin-right: 10px; /* Отступ между меткой и селектом */
}
.custom-select{
  height: 36px; /* Высота выпадающего списка */
width: 300px; /* Ширина 95% */
padding: 5px 10px; /* Внутренние отступы */
font-size: 16px; /* Размер шрифта */
border-radius: 5px; /* Скругленные углы */
border: 1px solid rgb(128, 128, 128); /* Серый цвет рамки */
background-color: white; /* Белый фон */
cursor: pointer; /* Указатель при наведении */
appearance: none; /* Убираем стандартный стиль браузера */
background-image: url('data:image/png;base64,...'); /* Замените на изображение стрелки */
background-repeat: no-repeat; /* Не повторять изображение */
background-position: right 10px center; 
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  position: relative;
  bottom: 0;
  width: 98.5%;
}

.custom-select option {
padding: 10px; /* Внутренние отступы для опций */
background-color: white; /* Фон опций */
color: black; /* Цвет текста */
}

/* Эффект при наведении на опции (для некоторых браузеров) */
.custom-select:hover {
border-color: #888; /* Цвет рамки при наведении */
}
/* Стили для выпадающего списка */
select {
height: 36px; /* Высота выпадающего списка */
width: 95%; /* Ширина 95% */
padding: 5px 10px; /* Внутренние отступы */
font-size: 16px; /* Размер шрифта */
border-radius: 5px; /* Скругленные углы */
border: 1px solid rgb(128, 128, 128); /* Серый цвет рамки */
background-color: white; /* Белый фон */
cursor: pointer; /* Указатель при наведении */
appearance: none; /* Убираем стандартный стиль браузера */
background-image: url('data:image/png;base64,...'); /* Замените на изображение стрелки */
background-repeat: no-repeat; /* Не повторять изображение */
background-position: right 10px center; /* Позиция стрелки */
}
/* Стили для опций внутри выпадающего списка */
select option {
padding: 10px; /* Внутренние отступы для опций */
background-color: white; /* Фон опций */
color: black; /* Цвет текста */
}

/* Эффект при наведении на опции (для некоторых браузеров) */
select:hover {
border-color: #888; /* Цвет рамки при наведении */
}
/* select, input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
} */

.custom_button_second {
  background-color:#0158b4; /* Основной цвет кнопки */
  color: white; /* Цвет текста */
  padding: 10px 15px; /* Отступы */
  border: none; /* Без рамки */
  border-radius: 5px; /* Скругленные углы */
  cursor: pointer; /* Указатель при наведении */
  font-size: 16px; /* Размер шрифта */
  margin: 5px; /* Отступы между кнопками */
  transition: background-color 0.3s, transform 0.2s; /* Плавные переходы */
}

  /* Эффект при наведении для всех кнопок */
.custom_button_second:hover {
  background-color:#004d9f; /* Цвет кнопки при наведении */
  transform: scale(1.05); /* Увеличение при наведении */
}

  /* Эффект при нажатии для всех кнопок */
.custom_button_second:active {
  transform: scale(0.95); /* Уменьшение при нажатии */
}

.custom-btn_sec {
  background:#0158b4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  font-size: 16px;
}
.custom-btn_sec:hover {
  background:#004d9f;
}
.sort-options {
  margin-bottom: 15px;
}
.sort-btn {
  background: #007BFF;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}
.sort-btn:hover {
  background: #0056b3;
}
.reset-button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.reset-text {
  text-decoration: none; /* Изначально без подчеркивания */
  color: gray; 
}

.reset-button:hover .reset-text {
  text-decoration: underline; /* Подчеркивание при наведении */
}

.cross-icon {
  margin-left: 5px; /* Отступ между текстом и крестиком */
  text-decoration: none; /* Убедитесь, что крестик не подчеркивается */
  color: gray; 
}
.buy-btn {
  background: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}
.buy-btn:hover {
  background: #45a049;
}

.parts-list {
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрируем карточки */
}
.part-card {
  display: flex; /* Flexbox для размещения изображения и информации */
  width: 1000px; /* Ширина карточки */
  height: 340px; /* Высота карточки */
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Отступ между карточками */
  background-color: #fff;
}
.part-image-container {
  width: 300px; /* Ширина контейнера для изображения */
  height: 280px; /* Высота изображения */
  overflow: hidden; /* Скрываем переполнение */
  border-radius: 5px 0 0 5px; /* Закругленные углы только слева */
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
}
.part-image {
  width: 100%; /* Полная ширина изображения */
  height: auto; /* Авто высота */
}
.part-details {
  padding: 15px; /* Отступы внутри блока с информацией */
  flex-grow: 1; /* Занимает оставшееся пространство */
}
.part-price {
  font-size: 1.2em; /* Увеличенный размер шрифта для цены */
  color: #28a745; /* Зеленый цвет для цены */
  margin: 10px 0; /* Отступы сверху и снизу */
}
.add-to-cart-btn {
  background-color: #0158b4; /* Синий фон для кнопки */
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%; /* Ширина кнопки 100% */
  margin-top: 15px; /* Отступ сверху */
}
.add-to-cart-btn:hover {
  background-color: #004d9f; /* Темный синий при наведении */
}
.add-to-cart-btn.active {
  background-color: #0072ed; /* Светлый цвет при активации */
}
.go-to-cart-btn{
  background-color: #0072ed; /* Светлый цвет при активации */
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%; /* Ширина кнопки 100% */
  margin-top: 15px; /* Отступ сверху */
}
nav {
  display: flex; /* Располагаем кнопки в строку */
  align-items: center; /* Выравнивание по вертикали */
}

.custom_button_second {
  display: flex; /* Используем Flexbox для кнопок */
  align-items: center; /* Центрируем изображение внутри кнопки */
  margin-right: 15px; /* Отступ между кнопками */
  text-decoration: none; /* Убираем подчеркивание */
}

.nav-icon {
  width: 24px; /* Ширина иконки */
  height: 24px; /* Высота иконки */
}
.tab-header {
  display: flex;
  background-color: rgb(10, 41, 166);
  border-radius: 8px 8px 0 0;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 10px;
  color: white;
  cursor: pointer;
}

.tab.active {
  background-color: white;
  color: rgb(10, 41, 166);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}
.empty-cart {
  text-align: center;
  font-size: 18px;
  color: #888;
}




.cart-title {
  margin-left: 30px;
  margin-top: 35px;
}

.cart-count {
  font-size: 1em;
  color: #888;
}



.cart-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 30px;
  margin-top: 30px;
}

.cart-item {
  display: flex;
  width: 80%;
  align-items: center;
  padding: 15px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background-color: #fff;
}

.item-image {
  width: 100px;
  height: auto;
  margin-right: 15px;
}

.item-details {
  flex-grow: 1;
}

.item-title {
  font-size: 1.2em;
  margin: 0;
}

.item-volume {
  color: #888;
}

.item-quantity {
  font-size: 1em;
  margin-top: 5px;
}

.item-price {
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 15px;
}

.item-count{
  font-size: 0.8em;
  color: #8e8e8e;
  margin: 0px;
}

.order-summary {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding: 15px;
  margin-top: 20px;
  margin-right: 30px;
  height: 200px;
  width: 300px;
}


.summary-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.total {
  font-weight: bold;
}

.total-price {
  font-weight: bold;
  color: #000;
}

.custom-button-users {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: rgb(10, 41, 166);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.custom-button-users:hover {
  background-color: rgb(8, 34, 130);
}

.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  margin-top: 15px; /* Добавляем отступ сверху */
  margin-right: 30px;
  margin-left: 30px;
}

.arrow {
  font-size: 25px;
}

.cart-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}
.cart-content.active {
  max-height: 10000px; /* Максимальная высота для анимации */
  opacity: 1;
}

.cart-order-address{
  
  flex: 1;
  background-color: #e6e9ee;
}

.cart-container {
  flex: 1;
  background-color: #ffffff;
  border-radius: 8px;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 20px;
  height: 120px; /* Фиксированная высота */
  transition: height 0.3s ease; /* Плавный переход высоты */
  overflow: hidden; /* Скрываем содержимое, если оно превышает высоту */
}

.delivery-container {
  flex: 1;
  background-color: #ffffff;
  border-radius: 8px;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 20px;
  height: 140px; /* Фиксированная высота */
  transition: height 0.3s ease; /* Плавный переход высоты */
  overflow: hidden; /* Скрываем содержимое, если оно превышает высоту */
}


.arrow {
    font-size: 18px;
}
.form-container-users {
  border-top-left-radius: 0; /* Прямой верхний левый угол */
  border-top-right-radius: 0; /* Прямой верхний правый угол */
  border-bottom-left-radius: 8px; /* Закругленный нижний левый угол */
  border-bottom-right-radius: 8px;
  max-width: 300px; 
  margin-left: 10px; 
  padding: 20px;
  height: auto;
  max-height: 900px;
  border: 1px solid #ccc;

  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
} 
 /* Добавим стили для нового поля доставки */
 .delivery-option {
  flex: 1;
  background-color: #ffffff;
  border-radius: 20px;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 20px;
  height: 120px; /* Фиксированная высота */
  transition: height 0.3s ease; /* Плавный переход высоты */
}

.delivery-option h2 {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
}


.deliverySelect{
  justify-content: space-between;
  align-items: center;
  padding: 0 px;
  border: 1px solid rgb(134, 134, 134);
  border-radius: 5px;
  background-color: rgb(247, 247, 247);
  cursor: pointer;
  margin-top: 15px;
  margin-right: 30px;
  margin-left: 29px;

} 

.select-delivery {
  color: purple;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 10px;
}
.address-input {
  display: none;
  margin-top: 10px;
}
.address-input input {
  padding: 10px;
  border: 1px solid #ccc;
width: 92.7%;
  height: 12px;
  margin-right: 30px;
  margin-left: 29px;
  margin-bottom: 15px;
}

.remove-btn{
  background-color: #0158b4; /* Синий фон для кнопки */
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 30%; /* Ширина кнопки 100% */
  margin-top: 15px; /* Отступ сверху */
}


.order-form {
  flex: 1;
  background-color: #e6e9ee;
  border: none; /* Убираем границы */
}


